<h2>Welcome {{ currentUser.name }}</h2>

<button (click)="logoutUser()">Log Out</button>

<a routerLink="/new">Add a new bug report</a>
<h2>Bug List</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Person</th>
      <th>Description</th>
      <th>Created Date</th>
      <th>Update Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>
        <a routerLink="/{{ bug._id }}">{{ bug.title }}</a>
      </td>
      <td>{{ bug.person }}</td>
      <td>{{ bug.description }}</td>
      <td>{{ bug.createdAt | date: "M/dd/yyyy hh:mm/ss a" }}</td>
      <td>{{ bug.updatedAt | date: "M/dd/yyyy hh:mm/ss a" }}</td>
      <td>
        <button (click)="goToEditTemplate(bug._id)">Edit</button>
        <button (click)="deleteHandler(bug._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
